.page-index {

  .page-login {
    padding: 0 54px;
    text-align: center;
  }

  .page-main {
    height: 100vh;
    padding: 0 30px;
    background-color: #f3f3f3;

    &__titlebar {
      height: 150px;
      line-height: 140px;
      color: #fff;
      font-size: 40px;
    }
  }
}